{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true
    },
    "ecmaVersion": 2015
  },
  "rules": {}
}
